.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #e95a08;
  --second-color: rgba(0, 0, 0, 0.5);
}
nav {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-left: 200px;
  padding-right: 200px;
  justify-content: space-between;
}
.nav-main img {
  height: 82px;
  width: 135px;
}

.nav-main ul {
  display: flex;
  gap: 40px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #252432;
  font-weight: bold;
}
.nav-color a {
  color: #8987a1;
  font-weight: 400;
}
.nav-main ul a i {
  margin-right: 10px;
}
.main-img {
  height: 355px;
  width: 570px;
}
.hero-section {
  display: flex;
  align-items: end;
  padding-left: 200px;
  padding-top: 300px;
  gap: 350px;
}
.main-text {
  height: 300px;
  width: 570px;
}
.main-text h3 {
  font-size: 4em;
}
.main-text h3 span {
  color: var(--primary-color);
}
.main-text p {
  color: var(--second-color);
  font-size: 1.3em;
}
.main-plant {
  padding-top: 150px;
}

.main-plant h3 {
  text-align: center;
  font-size: 3.1em;
}
.main-plant span {
  color: var(--primary-color);
}
.main-plant p {
  text-align: center;
  font-size: 1.35em;
  color: var(--second-color);
}
.flower-card {
  height: 485px;
  width: 270px;
  margin: 0;
}
.flower-card h3 {
  font-size: 1.2em;
  text-align: center;
  color: #252432;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: inter;
}
.flower-card p {
  font-size: 1em;
  font-weight: bold;
  color: black;
  margin-bottom: 30px;
}
.flower-card img {
  height: 323px;
  width: 270px;
}
.btn-main {
  background-color: var(--primary-color);
  padding: 19px 80px;
  color: white;
  font-size: 1rem;
  border: none;
  font-weight: bold;
}
.main-flower-card {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  padding-left: 175px;
  padding-top: 50px;
  margin-left: 185px;
  margin-right: 330px;
  gap: 30px;
}
.trusted-seller {
  padding-top: 211px;
  padding-left: 350px;
}
.trusted-seller-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.img-main {
  position: relative;
  width: 400px;
  margin-right: 200px;
}

.flower-img {
  width: 100%;
  height: auto;
}

.trusted-badge-1 {
  position: absolute;
  top: -115px;
  right: -130px;
  width: 286px;
  height: 286px;
  z-index: 5;
}

.flower-text {
  max-width: 600px;
}

.flower-text h2 {
  font-size: 3.15em;
  margin-bottom: 20px;
}

.flower-text li {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 1.1em;
  color: var(--second-color);
  list-style: disc;
  margin-left: 20px;
}
.latest-deals {
  text-align: center;
  padding-top: 50px;
  padding-left: 50px;
  
}

.latest-deals h3 {
  font-size: 2.5em;
  margin-bottom: 10px;
  text-align: center;
}
.latest-deals h3 span {
  color: var(--primary-color);
}

.latest-deals p {
  color: var(--second-color);
  max-width: 600px;
  margin: 0 auto 120px;
  font-size: 1.2em;
  text-align: center;
}

.deal-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}


.deal-box {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: white;
  flex-shrink: 0;
}

.deal-text {
  position: absolute;
  bottom: 75px;
  left: 85px;
  z-index: 2;
}
.deal-text-big {
  position: absolute;
  bottom: 165px;
  left: 200px;
  z-index: 2
}
.deal-text-big h4 {
  font-size: 2.5em;
}
.deal-text-big a{
  font-size: 1.5em;
   color: white;
}
.deal-text h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  justify-content: center;
}

.deal-text a {
  text-decoration: underline;
  color: white;
  font-weight: 600;
}

.small-box {
  width: 280px;
  height: 200px;
}

.big-box {
  width: 540px;
  height: 423px;
}
.deal-container {
  display:  flex;
  margin-bottom: 120px;
}
.bloom {
  background-image: url('assets/deal-bloom.png');
  margin-bottom: 20px;
   height: 201px;
  width: 367px;
  filter: brightness(0.8);
}

.ana {
  background-image: url('assets/deal-ana.png');
  height: 201px;
  width: 367px;
  filter: brightness(0.8);
}

.zabo {
  background-image: url('assets/deal-zabo.png');
  height: 423px;
  width: 753px;
  filter: brightness(0.8);
}
.sub-main {
  background-image: url('assets/news-letter-bg.png');
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  text-align: center;
  color: white;
}

.sub-main h3 {
  font-size: 3.1em;
  margin-bottom: 30px;
}

.input-group {
  display: flex;
  justify-content: center;
  max-width: 830px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.input-group input {
  height: 50px;
  width: 600px;
  min-width: 250px;
  padding: 0 15px;
  font-size: 1em;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
}

.btn-sub {
  color: white;
  background-color: var(--primary-color);
  border: none;
  padding: 0 30px;
  font-size: 1em;
  height: 50px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .deal-container {
    flex-direction: column;
    align-items: center;
  }

  .big-box {
    width: 90%;
    height: auto;
    aspect-ratio: 2 / 1;
  }

  .small-box {
    width: 90%;
    height: 180px;
  }
}

@media screen and (max-width: 576px) {
  nav {
    align-items: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
  }
  .nav-main {
    padding: 10px 20px;
  }

  .universal {
    display: none;
  }

  #universal-cart {
    display: block;
  }

  .nav-main ul {
    gap: 0px;
  }

  .nav-main img {
    height: 38px;
    width: 63px;
  }
  .main-text h3 {
    font-size: 1.5em;
  }
  .hero-section {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: -200px
  }
  .main-img {
    height: auto;
    width: 100%;
    border-radius: 10px;
  }
  .main-text h3 {
    margin: 20px;
  }
  .main-plant h3 {
    font-size: 1.5em;
  }
  .main-text,
  p {
    margin-top: 20px;
  }
  .main-text p {
    margin-left: 20px;
  }
  .main-plant {
    padding-top: 10px;
  }
  .flower-card h3 {
    font-size: 1em;
    text-align: center;
    color: #252432;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: inter;
  }
  .flower-card img {
    height: 196px;
    width: 171px;
  }
  .main-plant p {
    font-size: 0.9em;
    font-weight: bold;
    color: var(--second-color);
    margin-bottom: 20px;
  }
  .main-flower-card {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    padding-left: 70px;
    padding-top: 30px;
    margin-left: 45px;
    margin-right: 95px;
    gap: 30px;
  }
  .flower-card {
    height: 340px;
    width: 171px;
    margin: 0;
  }
  .btn-main {
    background-color: var(--primary-color);
    padding: 10px 36px;
    color: white;
    font-size: 0.9em;
    border: none;
    font-weight: bold;
  }
  .trusted-badge-1 {
    display: none;
  }
  .trusted-seller-container {
    flex-direction: column;
    gap: 20px;
  }
  .img-main {
    display: block;
    margin-left: 20px;
  }
  .trusted-seller {
    padding-top: 50px;
    padding-left: 20px;
  }
  .flower-img {
    width: 358px;
    height: 398px;
  }
  .img-main {
    width: fit-content;
    width: 350px;
    margin-right: 20px;
  }
  .flower-text h2 {
    font-size: 1.3em;
    margin-bottom: 20px;
  }

  .flower-text li {
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 0.9em;
    color: var(--second-color);
    list-style: disc;
    margin-left: 20px;
  }
  .latest-deals h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
  }
  .latest-deals p {
  color: var(--second-color);
  max-width: 600px;
  margin: 0 auto 120px;
  font-size: 0.9em;
  text-align: center;
  }
  .latest-deals {
  text-align: center;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.deal-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.deal-box {
  border-radius: 12px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: white;
  flex-shrink: 0;
}
}
