.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #e95a08;
  --second-color: rgba(0, 0, 0, 0.5);
}
nav {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-left: 200px;
  padding-right: 200px;
  justify-content: space-between;
}
.nav-main img {
  height: 82px;
  width: 135px;
}

.nav-main ul {
  display: flex;
  gap: 40px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #252432;
  font-weight: bold;
}
.nav-color a {
  color: #8987a1;
  font-weight: 400;
}
.nav-main ul a i {
  margin-right: 10px;
}
.main-img {
  height: 355px;
  width: 570px;
  justify-content: right;
}
.hero-section {
  display: flex;
  align-items: end;
  padding-left: 200px;
  padding-top: 300px;
  gap: 350px;
}
.main-text {
  height: 300px;
  width: 570px;
}
.main-text h3 {
  font-size: 4em;
}
.main-text h3 span {
  color: var(--primary-color);
}
.main-text p {
  color: var(--second-color);
  font-size: 1.3em;
}
.main-plant {
  padding-top: 150px;
}

.main-plant h3 {
  text-align: center;
  font-size: 4em;
}
.main-plant span {
  color: var(--primary-color);
}
.main-plant p {
  text-align: center;
  font-size: 1.35em;
  color: var(--second-color);
}
.flower-card {
  height: 485px;
  width: 270px;
  margin: 0;
}
.flower-card h3 {
  font-size: 1.2em;
  text-align: center;
  color: #252432;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: inter;
}
.flower-card p {
  font-size: 1em;
  font-weight: bold;
  color: black;
  margin-bottom: 30px;
}
.flower-card img {
  height: 323px;
  width: 270px;
}
.btn-main {
  background-color: var(--primary-color);
  padding: 19px 80px;
  color: white;
  font-size: 1rem;
  border: none;
  font-weight: bold;
}
.main-flower-card {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  padding-left: 175px;
  padding-top: 50px;
  margin-left: 185px;
  margin-right: 330px;
  gap: 30px;
}
@media screen and (max-width: 576px) {
  nav {
    align-items: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
  }
  .nav-main {
    padding: 10px 20px;
  }

  .universal {
    display: none;
  }

  #universal-cart {
    display: block;
  }

  .nav-main ul {
    gap: 0;
  }

  .nav-main img {
    height: 38px;
    width: 63px;
  }
  .main-text h3 {
    font-size: 1.5em;
  }
  .hero-section {
    flex-direction: column-reverse;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 0px;
  }
  .main-img {
    height: 355px;
    width: 570px;
  }
  .main-text h3 {
    margin: 20px;
  }
  .main-text,
  p {
    margin-top: 20px;
  }
  .main-text p {
    margin-left: 20px;
  }
  .main-plant {
    padding-top: 10px;
  }
  .flower-card h3 {
    font-size: 1em;
    text-align: center;
    color: #252432;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: inter;
  }
  .flower-card img {
  height: 196px;
  width: 171px;
}
  .main-plant p {
    font-size: 0.9em;
    font-weight: bold;
    color: var(--second-color);
    margin-bottom: 20px;
  }
  .main-flower-card {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    padding-left: 30px;
    padding-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
    gap: 30px;
  }
  .flower-card {
  height: 340px;
  width: 171px;
  margin: 0;
}
.btn-main {
  background-color: var(--primary-color);
  padding: 10px 40px;
  color: white;
  font-size: 0.9em;
  border: none;
  font-weight: bold;
}
}